[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2"
djangorestframework = "~=3.14"
djangorestframework-simplejwt = "~=5.3"
pillow = "~=10.1"
g-rpc = {git = "git+https://github.com/BGabor01/G-Rpc#egg=g-rpc"}
mysqlclient = "~=2.2.0"
python-dotenv = "~=1.0.0"
gunicorn = "~=21.2"
celery = "~=5.3.6"
redis = "~=5.0.1"
django-health-check = "~=3.17"

[dev-packages]

[requires]
python_version = "3.11"
